mixin steps(modifier)
  section.steps
    h2.steps__title Как проходят занятия
    .steps__join-us
      img(src="./img/join-us-pic.svg", alt="" loading="lazy").steps__join-us-pic
    .steps__content 
      .steps__card
        .steps__card-num 01
        p.steps__card-text Учитесь тогда, когда удобно именно вам
      .steps__card
        .steps__card-num 02
        p.steps__card-text Обретайте навыки в&nbsp;любом месте и даже с&nbsp;телефона
      .steps__card
        .steps__card-num 03
        p.steps__card-text Перенимайте знания реальных экспертов. Все программы составлены настоящими мастерами своего дела
      .steps__card
        .steps__card-num 04
        p.steps__card-text Получайте именной сертификат при успешном прохождении курса
      