.steps {
  position: relative;
  padding-bottom: 130px;

  @media (max-width: 767px) {
    margin-bottom: 80px;
  }

  @media (min-width: 768px) {
    padding-bottom: 170px;
  }

  @media (min-width: 1024px) {
    display: flex;
    padding-bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: -36px;
    right: -30px;
    z-index: -1;
    width: 493px;
    height: 493px;
    background: linear-gradient(71deg, #FFFFFF 0%, rgba(236, 238, 238, 0.00) 100%);
    box-shadow: -50px 37px 114.38384246826172px 0px rgba(60, 207, 188, 0.44) inset;
    border-radius: 493px;
    filter: blur(61.5px);
  }

  &__title {
    margin-bottom: 24px;
    line-height: 139%;

    @media (min-width: 1024px) {
      flex-shrink: 0;
      margin-right: 20px;
      margin-bottom: 0;
      padding-top: 10px;
      width: 280px;
    }

    @media (min-width: 1280px) {
      width: 400px;
    }

    @media (min-width: 1366px) {
      width: 460px;
    }
  }

  &__join-us {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 230px;
    transform: translateX(-50%) scale(0.9);

    @media (min-width: 768px) {
      width: 360px;
    }

    @media (min-width: 1024px) {
      top: 153px;
      bottom: auto;
      left: 0px;
      width: 270px;
      transform: none;
    }

    @media (min-width: 1280px) {
      top: 153px;
      left: 80px;
      width: auto;
    }

    &-pic {
      animation: circular-motion 2.5s infinite linear;
    }

    &:after {
      content: '';
      position: absolute;
      top: -16px;
      left: -60px;
      z-index: -1;
      width: 156px;
      height: 156px;
      background-image: url('../img/join-us-star.svg');
      background-size: cover;
    }
  }

  &__content {

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    flex-basis: calc(50% - 10px);
    margin-bottom: 14px;
    padding: 10px 15px;
    min-height: 90px;
    background: #FFFFFF;
    border-radius: 22px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
      padding: 22px 15px;
      min-height: 0;
    }

    @media (min-width: 1024px) {
      padding: 16px;
    }

    @media (min-width: 1280px) {
      padding: 20px 29px;
      min-height: 165px;
    }

    &-num {
      margin-right: 16px;
      font-family: 'Unbounded', sans-serif;
      font-size: 36px;
      line-height: normal;
      font-weight: 700;
      font-style: normal;
      color: #4C60FF;

      @media (min-width: 768px) {
        flex-shrink: 0;
        width: 90px;
        font-size: 50px;
      }

      @media (min-width: 1024px) {
        margin-right: 22px;
        width: 80px;
      }

      @media (min-width: 1280px) {
        width: 117px;
        font-size: 65px;
      }
    }

    &-text {
      padding-right: 20px;
      font-size: 12px;

      @media (min-width: 768px) {
        font-size: 16px;
      }

      @media (min-width: 1280px) {
        padding-right: 20px;
        font-size: 18px;
      }
    }
  }
}

@keyframes circular-motion {
  0% {
    transform: translate(10px, 0);
  }

  25% {
    transform: translate(0, 10px);
  }

  50% {
    transform: translate(-10px, 0);
  }

  75% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(10px, 0);
  }
}