include ../blocks/welcome/welcome.pug
include ../blocks/btn/btn.pug
include ../blocks/info-card/info-card.pug
include ../blocks/promo/promo.pug
include ../blocks/reasons/reasons.pug
include ../blocks/reason-card/reason-card.pug
include ../blocks/motivation/motivation.pug
include ../blocks/steps/steps.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/subscribe-form/subscribe-form.pug
include ../blocks/results/results.pug
include ../blocks/result-card/result-card.pug
