doctype html
html(lang='ru')
    include ../templates/head.pug
    include ../templates/blocks.pug

    body
        block content
        script(src="js/glide.js")
        script(src="js/aos.js")
        script(src="js/scripts.js")
