mixin motivation(modifier)
  section.motivation._collapsed
      h2.motivation__title.center Сделайте шаг к здоровому <br> и подтянутому телу прямо сейчас
      +btn('button', 'js-subscribe')

      .motication__decor
        img(src="./img/motivation_1.svg", alt="" loading="lazy").motivation__decor-item._1
        img(src="./img/motivation_2.svg", alt="" loading="lazy").motivation__decor-item._2
        img(src="./img/motivation_3.svg", alt="" loading="lazy").motivation__decor-item._3
        img(src="./img/motivation_4.svg", alt="" loading="lazy").motivation__decor-item._4
        img(src="./img/motivation_5.svg", alt="" loading="lazy").motivation__decor-item._5
