@import "./normalize";
@import "./variables";
@import "./mixins";
@import "./functions";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #F3F3F3;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 130%;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 1452px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.center {
  text-align: center;
}

main {
  overflow: hidden;
  padding: 80px 0;

  @media (min-width: 768px) {
    padding: 113px 0 130px 0;
  }
}

section {
  margin-bottom: 94px;

  @media (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 156px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-family: 'Unbounded', sans-serif;
  font-size: clampy(23px, 48px, 320px, 768px);
  line-height: 139%;
  color: #111010;

  @media (min-width: 768px) {
    font-size: clampy(27px, 60px, 768px, 1440px);
  }

  span {
    color: #F23F7F;
  }
}

h2 {
  font-family: 'Unbounded', sans-serif;
  font-size: clampy(19px, 40px, 320px, 768px);
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
  color: #111010;

  @media (min-width: 768px) {
    font-size: clampy(27px, 40px, 768px, 1440px);
    line-height: 155.5%;
  }

  span {
    color: #4C60FF;

    &._bordered {
      padding: 0 7px;
      border-radius: 9px;
      border: 1px solid #000000;
      white-space: nowrap;

      @media (min-width: 768px) {
        border-radius: 15px;
        padding: 0 10px;
      }
    }
  }
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.glide {

  &__slide {
    &--active {
      z-index: 1;
    }
  }

  &__bullets {
    display: flex;
    justify-content: center;
  }

  &__bullet {
    margin: 0 3px;
    width: 8px;
    height: 8px;
    background: #D9D9D9;
    transition: background-color .3s;
    border-radius: 8px;

    &--active {
      background-color: #4C60FF;
    }
  }
}