extends ../templates/template.pug
block content
    main
        .container
            +welcome
            +promo
            +reasons
            +motivation
            +steps
            +subscribe
            +results


